@media screen and (min-width: 350px) and (max-width: 450px){

:root {
    --tamanoLetraTitulos: 22px;
}


.grid-container {
        display: grid;
        grid-template-columns:350px;
        grid-template-rows: 250px;
        height: 500px;
        margin: 10% 30%;
    }

.comunidad {
        grid-column: 1;
        background-color: var(--color_blanco);
        border-radius: 10px 10px 0px 0px; 
    
    }

.titleComunidad {
        font-size:var(--tamanoLetraTitulos);
    }

.cabeceraComunidad {
        margin: 30px 20px 0px 30px;
    }

.mensual {
        border-radius: 0px 0px 0px 0px; 
        padding-bottom: 20px;
        
    }
.quienesSomos {
    border-radius: 0px 0px 10px 10px; 
    
}
  }